11th

In [2]:
#1.	Create a table and perform CRUD operations on it using sqlite3
import sqlite3
conn = sqlite3.connect('test.db')
print("Opened database successfully")
conn.execute('''CREATE TABLE COMPANY
            (ID            INT ,
            NAME           CHAR(50),
            AGE            INT,
            ADDRESS        CHAR(50),
            SALARY         INT);''')
print("Table created successfully")
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
        VALUES (1, 'Paul', 32, 'California', 20000.00 )");
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
        VALUES (2, 'Allen', 25, 'Texas', 15000.00 )");
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
        VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )");
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
        VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )");
conn.commit()
print("Records created successfully")
cursor = conn.execute("SELECT id, name, address, salary  from COMPANY")
for row in cursor:
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("SALARY = ", row[3], "")
print("Operation done successfully")
conn.close()

Opened database successfully
Table created successfully
Records created successfully
ID =  1
NAME =  Paul
ADDRESS =  California
SALARY =  20000
ID =  2
NAME =  Allen
ADDRESS =  Texas
SALARY =  15000
ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000
ID =  4
NAME =  Mark
ADDRESS =  Rich-Mond
SALARY =  65000
Operation done successfully

In [14]:
import sqlite3 as sql
conn=sql.connect("utsav.db")
#conn.execute("CREATE TABLE BLANK( NAME CHAR(50),ID INT, NUMBER INT);")
conn.execute("INSERT INTO BLANK(NAME,ID,NUMBER) VALUES('UTSAV',1,21343252);")
conn.commit()
cursor=conn.execute("SELECT NAME, ID, NUMBER FROM BLANK")
for row in cursor:
    print("NAME=",row[0])
conn.close()

NAME= UTSAV
NAME= UTSAV
NAME= UTSAV
NAME= UTSAV
NAME= UTSAV

In [21]:
import sqlite3 as sql
conn=sql.connect("utsav.db")
#conn.execute("CREATE TABLE HII1(GREET CHAR(50), P1 CHAR(50), ID INT);")
conn.execute("INSERT INTO HII1(GREET, P1, ID) VALUES ('HELLO', 'UTSAV',1);")
conn.execute("INSERT INTO HII1(GREET, P1, ID) VALUES ('HI THERE', 'SIR',2);")
conn.commit
cursor=conn.execute("SELECT * FROM HII1 WHERE GREET='HELLO'")
rows=cursor.fetchall()
for row in rows:
    print(row)
conn.close()

('HELLO', 'UTSAV', 1)