Code Chef 4

In [2]:
import sqlite3

# Create City Table
def create_table():
    conn = sqlite3.connect('city.db')
    c = conn.cursor()
    c.execute('''CREATE TABLE City
                 (ID INTEGER PRIMARY KEY,
                  Name TEXT,
                  CountryCode TEXT,
                  District TEXT,
                  Population INTEGER)''')
    conn.commit()
    conn.close()
    print("Table created successfully")

def insert_values():
    conn = sqlite3.connect('city.db')
    c = conn.cursor()
    c.execute("INSERT INTO City (ID, Name, CountryCode, District, Population) VALUES (1, 'Nashik', 'IND', 'Nashik', 5000000)")
    c.execute("INSERT INTO City (ID, Name, CountryCode, District, Population) VALUES (2, 'Dhule', 'IND', 'Dhule', 800000)")
    c.execute("INSERT INTO City (ID, Name, CountryCode, District, Population) VALUES (3, 'Shirpur', 'IND', 'Dhule', 150000)")
    c.execute("INSERT INTO City (ID, Name, CountryCode, District, Population) VALUES (4, 'Bhusawal', 'IND', 'Jalgaon', 300000)")
    c.execute("INSERT INTO City (ID, Name, CountryCode, District, Population) VALUES (5, 'Pune', 'IND', 'Pune', 20000000)")
    conn.commit()
    conn.close()
    print("Values inserted successfully")

def select_all_records():
    conn = sqlite3.connect('city.db')
    c = conn.cursor()
    c.execute("SELECT * FROM City")
    rows = c.fetchall()
    for row in rows:
        print(row)
    conn.close()

def delete_record():
    conn = sqlite3.connect('city.db')
    c = conn.cursor()
    c.execute("DELETE FROM City WHERE Name='Pune'")
    conn.commit()
    conn.close()
    print("Record deleted successfully")

def query_records():
    conn = sqlite3.connect('city.db')
    c = conn.cursor()
    c.execute("SELECT * FROM City WHERE CountryCode='IND' AND Population>200000")
    rows = c.fetchall()
    for row in rows:
        print(row)
    conn.close()

if __name__ == '__main__':
    create_table()
    insert_values()
    print("\nAll records in City table:")
    select_all_records()
    delete_record()
    print("\nAll Indian cities in City table with population larger than 200000:")
    query_records()

OperationalError: table City already exists

In [7]:
import sqlite3 as sql
conn=sql.connect("city2.db")
#conn.execute("CREATE TABLE CITY( ID INT, NAME TEXT, COUNTRYCODE TEXT, DISTRICT TEXT, POPULATION INT);")
conn.commit()
conn.execute("INSERT INTO CITY (ID,NAME,COUNTRYCODE,DISTRICT,POPULATION) VALUES (1,'NASHIK','IND','NASHIK',50000000);")
conn.execute("INSERT INTO CITY (ID,NAME,COUNTRYCODE,DISTRICT,POPULATION) VALUES (2,'DHULE','IND','DHULE',8000000);")
conn.execute("INSERT INTO CITY (ID,NAME,COUNTRYCODE,DISTRICT,POPULATION) VALUES (3,'SHIRPUR','IND','DHULE',1500000);")
conn.execute("INSERT INTO CITY (ID,NAME,COUNTRYCODE,DISTRICT,POPULATION) VALUES (4,'BHUSAWAL','IND','JALGAON',3000000);")
conn.execute("INSERT INTO CITY (ID,NAME,COUNTRYCODE,DISTRICT,POPULATION) VALUES (5,'PUNE','IND','PUNE',200000000);")
conn.commit()
cursor=conn.execute("SELECT * FROM CITY")
rows=cursor.fetchall()
for row in rows:
    print (row)
conn.execute("DELETE FROM CITY WHERE NAME='PUNE'")
conn.execute("SELECT * FROM CITY WHERE POPULATION>20000000")

(1, 'NASHIK', 'IND', 'NASHIK', 50000000)
(2, 'DHULE', 'IND', 'DHULE', 8000000)
(3, 'SHIRPUR', 'IND', 'DHULE', 1500000)
(4, 'BHUSAWAL', 'IND', 'JALGAON', 3000000)
(5, 'PUNE', 'IND', 'PUNE', 200000000)
(1, 'NASHIK', 'IND', 'NASHIK', 50000000)
(2, 'DHULE', 'IND', 'DHULE', 8000000)
(3, 'SHIRPUR', 'IND', 'DHULE', 1500000)
(4, 'BHUSAWAL', 'IND', 'JALGAON', 3000000)
(5, 'PUNE', 'IND', 'PUNE', 200000000)